@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: 'Ubuntu';
  background-color: #f7f7f7;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}


.hader-bg {
  background: url(/img/gradient.jpg) no-repeat;
  background-size: 100% 750px;
  position: relative;

}
/* #header__section::after {
  position: absolute;
  content: '';
  background: url(/img/line.png) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 180px;
  bottom: 0;
  z-index: 0;
} */
/* .bottom__img {
  position: absolute;
  bottom: 0px;
} */

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: 18px 80px 0 80px;
}

.grad__line {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
}
.header__line {
  bottom: 0px;
}

.logo img {
  max-width: 164px;
}

.reg__btn, .login__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.reg__btn {
  color: #420080;
  padding: 13px 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  background-color: #f7f7f7;
  margin-right: 56px;
}

.head__content {
  display: flex;
}

.img__3d img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  
}

.head__left {
  padding: 18px 0 0 80px;
  color: #f7f7f7;
  max-width: 540px;
  padding-top: 130px;
}

.head__left h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}
.head__left p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 70px;
}

.head__total {
  margin: 20px 0 60px 0;
  display: flex;
  max-width: 360px;
  max-height: 60px;
  background-image: linear-gradient(to right, rgba(31, 237, 255, 0) 0%, rgba(31, 237, 255, 0) 20%, #1fedff 100%);
}
.head__total p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 0;
  align-self: center;
  padding-right: 10px;
}
.head__total span {
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
  align-self: center;
}
.gradient__btn {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 20px 110px;
  width: 357px;
  height: 60px;
  box-shadow: 0 10px 70px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  border: none;
  background-color: #f7f7f7;
  background-image: linear-gradient(to right, #2a8de3 0%, #a91af7 100%);
}

.benefits {
  display: flex;
  justify-content: center;
  height: 260px;
  position: relative;
  z-index: 2;
  transform: translateY(20px);
}

.benefits__item:first-child {
  align-self: flex-end;
}
.benefits__item:nth-child(2) {
  align-self: center;
  margin: 0 30px;
}
.benefits__item:last-child {
  align-self: flex-start;
}
.benefits__item {
  width: 165px;
  height: 120px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.benefits__item img {
  width: 52px;
}
.benefits__item p {
  padding-top: 10px;
  color: #461ba3;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

/* img__3d */
.main__3d {
  height: 700px;
}
.img__3d img:nth-child(2) {
  padding: 170px 370px 0 0;
  animation: anim3d 5s infinite;
}
.img__3d img:nth-child(3) {
  padding: 375px 15px 0 0;
  animation: anim3d2 5s infinite;
}
.img__3d img:nth-child(4) {
  padding: 420px 310px 0 0;
  animation: anim3d3 5s infinite;
}

@keyframes anim3d {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes anim3d2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes anim3d3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* how section */

#how {
  padding-top: 100px;
}

.how__top {
  max-width: 644px;
}

.how__top h2 {
  color: #461ba3;
  font-size: 48px;
  font-weight: 700;
}
.how__top p {
  padding: 19px 0 19px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.how__top span {
  color: #461ba3;
  font-size: 20px;
  font-weight: 700;
}

/* roadmap */

.roadmap {
  padding-top: 91px;
}

.road__item img {
  align-self: center;
}

.road__item {
  display: flex;
  max-width: 1018px;
  margin: 0 auto;
}
.road__item:nth-child(2n) {
  flex-direction: row-reverse;
}

.item__number {
  margin: 0 0 0 82px;
  border-radius: 50px;
  width: 67px;
  height: 67px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  background-color: #461ba3;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  align-self: center;
}
.item__number span {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  align-self: center;
}
.item__number::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 200px;
  z-index: -1;
  background-color: #461ba3;
  opacity: 0.33;
}

.road__text {
  width: 456px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px 116px 31px 65px;
  margin-left: -19px;
  position: relative;
  z-index: 0;
  align-self: center;
}
.road__text span {
  color: #461ba3;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.road__text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* pros */

.pros {
  margin-top: 76px;
  background-image: url(/img/pros-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 798px;
  height: 798px;
}
.pros h2 {
  color: #461ba3;
  font-size: 48px;
  font-weight: 700;
  line-height: 42px;
  max-width: 40%;
  padding-left: 130px;
  text-align: left;
}
.pros__content {
  padding: 100px 0 100px 0;
}
.pros__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pros__item {
  width: 165px;
  height: 166px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  background-color: #ffffff;
  margin: 30px 30px;
  padding: 23px 8px 45px;
  text-align: center;
}
.pros__item p {
  padding-top: 15px;
  color: #010101;
  font-size: 16px;
  font-weight: 550;
}
.pros {
  text-align: center;
}
.pros .grad__line {
  margin-top: -67px;
}
.pros .gradient__btn {
  padding: 30px 100px;
}
